<html>
  <head>

  </head>
  <body style="background-color: black; height: 95vh;">
    <div class="row" style="width: 100%;">
      <div class="col-4">

      </div>
      <div class="col-4">

        <main role="main" class="inner cover" style="margin-top: 10vh;">
          <img src="https://logowik.com/content/uploads/images/google-chat4663.jpg" style="width: 100%;">
          <br><br>
          <h1 class="cover-heading" style="color: white;">CHAT P.G</h1>
          <p class="lead" style="color: white;">Inicia sesion! y empieza a enviar mensajes</p>
          <p class="lead" style="color: white;">Crea tu usuario! Unicamente necesitarás ingresar tu nombre</p>
        </main>
      </div>
      <div class="col-4">

      </div>
    </div>
  </body>
</html>
